<card-deck class="main-app-view" #mainAppView [selectedCardIndex]="user && user.loggedIn ? 1 : 0" [suppressAnimation]="! dataReady">
    <card>
        <login-view #login></login-view>
    </card>
    <card>
        <vortex-view [teamColorIndex]="login.teamColorIndex"></vortex-view>
    </card>
</card-deck>