<head>
    <meta name="description" content="A tutorial game of competitive tiles in Angular 2 and Meteor.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* You can add styles here that are important to load immediately, without waiting for any JS or module loading. */
        html, body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
        body, div {
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-font-smoothing: antialiased;
            -webkit-tap-highlight-color: transparent;
        }
        body {
            overflow: hidden;
        }
    </style>
  <script src="/snabbt.js"></script>
  <script src="/global.utils.js"></script>
</head>
<body>
  <app></app>
  <script>System.import('client/app');</script>
</body>