:root {
  --fore-line-color: #1a1a1a;
  --fore-modal-line-color: #3a3a3a;
  
  --back-main-color: #e5d9a8;
  --back-shadow-color: #101020;
  --back-highlight-color: #f5e9b8;
  --back-modal-color: #f9f9f5;
}
